.vagrant
Berksfile.lock
nbproject
config.json
.idea
docs/

# sessions
.sessions

.cookbooks
build/chef/nodes

# common ignores
node_modules
log/*
!log/.gitkeep

# generated test coverage
coverage.html