{
    "app": {
        "hostname" : "slack-harvest-middleman.dev",
        "ip" : "192.168.10.12",
        "port" : "3000"
    },
    "api": {
        "auth" : {
            "secret" : "thisissomeauthsecret"
        },
        "controllers" : {
            "timer" : {
                "sessionTime" : 120000
            }
        }
    },
    "users": {
        
    },
    "harvest" : {
        "subdomain" : "neverbland",
        "email" : "XXXXX@neverbland.com",
        "password" : "XXXXXXXXXXXXXXX"
    },
    "slack" : {
        "username" : "Harvest",
        "icon_url": "https://avatars0.githubusercontent.com/u/43635?v=3&s=200",
        "endpoint" : "XXXXXXXXXXXXXX"
    },
    "cron" : {
        "notify" : {
            "cronTime" : false,
            "hour" : "16",
            "minutes" : "30"
        },
        "preload" : {
            "cronTime" : "00 00 7-20 * * 1-5"
        },
        "report" : {
            "reportTitle" : "Weekly activity report",
            "channel" : "#channel_name"
        }
    },
}
